@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Theme colors in HSL (not hex!) */
  --background: 0 0% 100%; /* white */
  --foreground: 0 0% 7%; /* #111 */
  --primary: 0 0% 7%; /* #111 */
  --primary-foreground: 179 100% 0%; /* #fff */
  --radius: 0.625rem;
  --border: #141414;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100dvh;
}
* {
  cursor: none !important;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .theme {
    --animate-rainbow: rainbow var(--speed, 2s) infinite linear;
  }
  :root {
    --color-1: oklch(66.2% 0.225 25.9);
    --color-2: oklch(60.4% 0.26 302);
    --color-3: oklch(69.6% 0.165 251);
    --color-4: oklch(80.2% 0.134 225);
    --color-5: oklch(90.7% 0.231 133);
  }
  .dark {
    --color-1: oklch(66.2% 0.225 25.9);
    --color-2: oklch(60.4% 0.26 302);
    --color-3: oklch(69.6% 0.165 251);
    --color-4: oklch(80.2% 0.134 225);
    --color-5: oklch(90.7% 0.231 133);
  }
}

@theme inline {
  @keyframes rainbow {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 200%;
    }
  }
}
